{%load static%}
<link href="{% static 'Css/Password_Change.css' %}" rel="stylesheet" media="screen" type="text/css" />
<div class="mainDiv">
  <div class="cardStyle">
    <form action="/Murali/change_password" method="post" name="signupForm" id="signupForm">
    {% csrf_token %}      
      <img src="{% static 'Images/SHIPSY_LOGO_BIRD_BLUE.png' %}" id="signupLogo"/>      
      <h2 class="formTitle">
        Login to your account
      </h2>      
    <div class="inputDiv">
      <label class="inputLabel" for="password">New Password</label>
      <input type="password" id="password" name="password" required>
    </div>     
    <div class="inputDiv">
      <label class="inputLabel" for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword">
    </div> 
     <input name="user_name" type="hidden" value={{user_name}} >         
    <div class="buttonWrapper">
      <input type="submit" onclick=fun() id="submitButton" class="submitButton pure-button pure-button-primary" value="Continue">     
      </button>
    </div>   
  </form>
  </div>
</div>
<script src="{% static 'Js/Jquery.js' %}"></script>
<script>
function fun()
{
Password=$("#password").val();
confirm_Password=$("#confirmPassword").val();
if(Password=="")
{
document.getElementById("password").setCustomValidity("Field Cannot Be Null");
document.getElementById("password").reportValidity();
}
if(confirm_Password=="")
{
document.getElementById("confirmPassword").setCustomValidity("Field Cannot Be Null");
document.getElementById("confirmPassword").reportValidity();
}
if(confirm_Password!=""&&Password!=""&&Password!=confirm_Password)
{
document.getElementById("confirmPassword").setCustomValidity("Passwords Don't Match");
document.getElementById("confirmPassword").reportValidity();
}
}
</script>






