{% load static%} 
{% block content %}  
</head>
<link href="{% static 'Css/Boot_css.css' %}"rel="stylesheet">
<link rel="stylesheet" href="{% static 'Css/Staff_Entry_Details.css'%}">
</head>
<script src="{% static 'Js/Boot_2_js.js' %}"></script>
<script src="{% static 'Js/Boot_1_js.js' %}"></script>
<script src="{% static 'Js/Jquery.js' %}"></script>
<script src="{% static 'Js/Jquery_1.js' %}"></script>
<script src="{% static 'Js/Jquery_2.js' %}"></script>
<div class="container bg-image">
            <header>
                <div class="head-title">
                    <h1 id="title">S.VEERASAMY CHETTIAR COLLEGE OF ENGINEERING & TECHNOLOGY, TENKASI,TAMIL NADU</h1>
                    <b><p id="description" >STAFF DETAILS</p></b>
                </div>
            </header>
            <main class="main-content">
          <form id="survey-form" method="post" action="/Murali/add_Staff" enctype="multipart/form-data">{% csrf_token %}
             <div class="user-details">            			
                        <!--Staff_details-->  
                        <div class="form-content text-form">
                          <center><b><u><label  class="details"  id="name-label"> Staff
                            Information</label></u></b></center></div> 
                        <div class="form-content text-form">
                            <label  class="details" for="name" id="name-label"> Staff ID:</label>
                            <input type="text"  id="id" name="Staff ID" placeholder="Enter your ID" required="">
	     </div>
             <div class="form-content text-form">
                            <label class="details" for="lastname" id="lastname-label"> Staff Name:</label>
                            <input type="text"  id="Name" name="Staff Name" placeholder="Enter your name" pattern="[A-Za-z]{5}\[0-9]" required="">
            </div>
                        <div class="form-content text-form">
                            <label class="details" for="lastname" id="lastname-label">Staff Department :</label>                            
           		</div>
           <div class="row g-2">
  <div class="col-md">
    <div class="form-floating">
      <select class="form-select"  name="Staff Department"id="floatingSelectGrid" aria-label="Floating label select example">
        <option selected>Select your Department</option>
        <option value="Computer Science ">Computer Science </option>
        <option value="Mathematics">Mathematics</option>
        <option value="Chemistry">Chemistry </option>
        <option value="Physics">Physics</option>
        <option value="Economics">Economics</option>
      </select>
      <label for="floatingSelectGrid">Departments</label>
    </div>
  </div>
</div>
            <div class="form-content text-form">
                            <label class="details" for="email" id="email-label">Email:</label>
                            <input type="email"  id="Mail" name="Staff Mail_ID " placeholder="example@gmail.com" pattern=".+@gmail.com" required="">
                       </div>  
                       <div class="form-content text-form">
                            <label class="details" for="email" id="email-label">Phone Number:</label>
                            <input type="text"  id="Phone_No" name="Staff Phone_No" placeholder="Phone Number"  maxlength="10" required="">
                       </div>             
                       <div class="form-content text-form">
                            <label class="details" for="email" id="email-label">Upload Your Photo:</label>              
                            <input type="file" name="upload" id="file" accept="image/*">
                            <p style="text-align:right">?Photo's Name Should Your ID (Eg:TS01.jpg).</p>
        		</div>
     	     		<!--Login_details-->
              		<u><div class="form-content text-form">
                           <center> <label  class="details"  id="name-label"> Login Information</label></center></u></div>
                           <div class="form-content text-form">
                          <label  class="details" for="name" id="name-label"> User Name:</label>
                            <input type="text"  id="User_Name" name="User_Name" placeholder="Enter your ID" required="" onblur="User_name()">
                          </div>
	     		   <div class="form-content text-form">
                            <label  class="details" for="name" id="name-label"> Password:</label>
                          </div>
                         <div class="input-group mb-3">
  			<input type="password" id="password" minlength="6"
  			maxlength="12" required="" name="User_Password"
  			 class="form-control" placeholder="Enter your Password">
  			<span class="input-group-text" id="basic-addon2">
  			  <img  id="img1" src="{% static 'Images/eye_close.png' %} " alt="eye" 
  			  height = "30" width = "30" onclick="Pass_show(1)" ></span>
			</div>                                         
	     		  <div class="form-content text-form">
                            <label  class="details" for="name" id="name-label"> Retype-Password:</label></div>
                            <div  id="re_pass_div" class="input-group mb-3">
                            <input type="password" id="re_password" minlength="6"
                            maxlength="12" name="User_Password"
                            onblur="User_password()" class="form-control" 
                            placeholder="Retype your Password" required="">
                            <span class="input-group-text" id="basic-addon2">
  			  <img  id="img2" src="{% static 'Images/eye_close.png' %} " alt="eye" 
  			  height = "30" width = "30" onclick="Pass_show(2)"></span>
	     </div>
       <div class="form-content question-form">                            
               <center><button type="submit" id="submit" class="btn btn-primary">Submit</button></center></div>
       <div class="form-content question-form">                            
               <center><a href="/Murali/display_Staff">Back</a></center>
               </div>
                    </div>
                </form>
            </main>
           <center> <footer class="end-content">
                <!--<p class="creator">Proudly made by MURALI.</p>-->
            </footer></center>
        </div>  
{% endblock %}
{{ title|json_script:"title-data" }}
<script>
function User_name() {
	var unclean = JSON.parse(document.getElementById('title-data').textContent);
	usr_name=$("#User_Name").val();
	if(unclean.includes(usr_name) ){
  		$("#1").remove();
  		$("#User_Name").after("<span id=1><p style='color:red'><b>User Name Exist</b></p></span>");
  		$("#2").remove();
  		}
  	else if(usr_name == ""){
  		$("#1").remove();
  		$( "#User_Name" ).after("<span id=1><p style='color:red'><b>User Name Field Cannot Be Null</b></p></span>");
  		$("#2").remove();
  		}
  	else{
  		$("#2").remove();
  		$( "#User_Name" ).after("<span id=2><p style='color:green'><b>Good To Go</b></p></span>");
  		$("#1").remove();
  		}
}
function User_password()
{
	password=$("#password").val();
	re_password=$("#re_password").val();
	$("#3").hide();
	if(password==re_password){
  		$("#3").hide();
  		}
  		else{
  		$( "#re_pass_div" ).after("<div id=3><p style='color:red'><b>Password UnMatched</b></p></div>");
  		}
}
function Pass_show(x)
{
if(x==1)
{
if(document.getElementById("password").type == "password")
{
	$('#img1').attr({'src':"{% static 'Images/eye_open.png' %} "});
	document.getElementById("password").type = "text";	
}
else
{
	$('#img1').attr('src',"{% static 'Images/eye_close.png' %} ");
	document.getElementById("password").type = "password";
}
}
if(x==2)
{
if(document.getElementById("re_password").type == "password")
{
	$('#img2').attr('src',"{% static 'Images/eye_open.png' %} ");
	document.getElementById("re_password").type = "text";	
}
else
{
	$('#img2').attr('src',"{% static 'Images/eye_close.png' %} ");
	document.getElementById("re_password").type = "password";
}
}
}
</script>


